
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 400px;
    border-bottom: 50px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#63c4eb, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 60px;
    right: -80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 130px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: mario-jump 500ms ease-out;
}

.cloud {
    width: 500px;
    position: absolute;
    top: 30px;
    right: -550px;
    animation: cloud 20s infinite linear;
}

/* Animações */

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes mario-jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 150px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes cloud {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

/* Responsivo */

@media (max-width: 620px) {
    .mario {
        width: 110px;
    }

    .pipe {
        width: 50px;
        animation-duration: 1s;
    }
}

.score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.restart {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

